body
{
background:black url(fond_body.png) repeat-x;
margin:0;
color:white;
font-size:80%;
font-family:"Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Verdana, sans-serif;
text-shadow:#333 0px 0px 2px;
}

h1{
position:absolute;
text-indent:-5000px;
}

form
{
margin:auto;
width:726px;
min-height:591px;
background: url(fond.jpeg) no-repeat;
}

form div
{
padding-left:67px;
padding-top:257px;
font-weight:bold;
font-size:130%;
}

form p
{
position:relative;
margin:0px 0px 8px 0px;
}

textarea
{
width:226px;
height:50px;
background:transparent url(transparent.png) repeat;
color:white;
font-family:sans-serif;
font-weight:bold;
border:none;
padding:2px;
font-size:70%;
}

form input[type=submit]
{
display:block;
position:absolute;
left:245px;
bottom:0px;
height:57px;
margin-right:289px;
}

h2
{
margin-left:15px;
}

ul
{
padding:0;
margin-bottom:0;
}

a
{
color:white;
text-decoration:none;
}

a:hover
{
color:grey;
text-decoration:underline;
}

a img
{
border:none;
}

li
{
list-style:none;
padding:8px 8px 8px 74px;
background:url(fond_fichier.png) repeat-x;
height:48px;
line-height:52px;
position:relative;
}

li img
{
position:absolute;
top:8px;
left:6px;
}

li a
{
display:block;
}

/*li a:before*/
/*{*/
/*content:url(fichier.png);*/
/*}*/

li.rouge 
{
background-color:#222;
}

li.noir
{
background-color:#111;
}

li.nouveau
{
background-color:#C75F21;
}

li.rouge:hover
{
background-color:#292929;
}

li.noir:hover
{
background-color:#191919;
}

li.nouveau:hover
{
background-color:#DB7335;
}

p.erreur {
margin-left:40px;
color:#DB7335;
font-weight:bold;
}

li span.date
{
display:block;
position:absolute;
height:20px;
line-height:20px;
font-style:italic;
right:5px;
top:5px;
}

li span.mimetype
{
display:block;
position:absolute;
height:20px;
line-height:20px;
font-style:italic;
right:5px;
bottom:5px;
}

#pagination
{
margin:5px 5px 20px 10px;
}

#footer
{
font-size:85%;
font-style:italic;
text-align:justify;
color:#444;
margin:10px;
}
