body
{
background:black url(fond_body.png) repeat-x;
margin:0;
color:white;
font-size:80%;
font-family:"Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Verdana, sans-serif;
text-shadow:#333 0px 0px 2px;
}

h1{
position:absolute;
text-indent:-5000px;
}

form
{
margin:auto;
width:726px;
min-height:591px;
background: url(fond.jpeg) no-repeat;
}

form div
{
padding-top:287px;
padding-left:76px;
font-weight:bold;
font-size:130%;
}

/*form input[type=submit]*/
/*{*/
/**//*float:right;*/
/**//*margin-right:289px;*/
/*}*/

h2
{
margin-left:15px;
}

ul
{
padding:0;
margin-bottom:0;
}

a
{
color:white;
text-decoration:none;
}

a:hover
{
color:grey;
text-decoration:underline;
}

a img
{
border:none;
}

li
{
list-style:none;
padding:8px 8px 8px 74px;
background:url(fond_fichier.png) repeat-x;
height:48px;
line-height:52px;
position:relative;
}

li img
{
position:absolute;
top:2px;
left:6px;
}

li a
{
display:block;
}

/*li a:before*/
/*{*/
/*content:url(fichier.png);*/
/*}*/

li.rouge 
{
background-color:#222;
}

li.noir
{
background-color:#111;
}

li.nouveau
{
background-color:#C75F21;
}

li.rouge:hover
{
background-color:#292929;
}

li.noir:hover
{
background-color:#191919;
}

li.nouveau:hover
{
background-color:#DB7335;
}
